%h3= t('books.google_books')

= form_for 'search',  :method => :get,
                      :url => {:action => :index},
                      :html => {:class => 'search-form'} do |f|
  = f.text_field :query, :class => 'search-query', :value => @query, :name => :query
  = f.submit :search, :class => 'btn'

%h5= t('books.total', :total => @total)

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= t('books.title')
      %th= t('books.author')
      %th= t('books.thumbnail')
  %tbody
    - @books.each do |book|
      %tr
        %td= book['volumeInfo']['title']
        %td= book['volumeInfo']['authors'].join(', ') if book['volumeInfo']['authors']
        %td= image_tag book['volumeInfo']['imageLinks']['thumbnail'] if book['volumeInfo']['imageLinks']

= will_paginate @books
